target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/*.jar
!**/src/test/resources/*.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.settings/
.project
.classpath
.factorypath

### VS Code ###
.vscode/

### Others ###
*.log
.env
.DS_Store
